.blog{

  &Header{
    display: flex;
    align-items: flex-end;
    margin-top: 78px;
    padding: 40px 0;
    height: 370px;
    background: url('../images/header-bg-blog@2x.png') no-repeat center;
    background-size: cover;

    &__content{
      color: #ffffff;
      max-width: 400px;
      margin-left: 20vw;

      @media screen and (max-width: 600px){
        margin-left: 20px;
      }
    }

    &__title{
      color: #ffffff;
      margin-bottom: 0;
    }

    &__text{
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  &Tabs{
    overflow-x: auto;
    &__wrapper{
      display: flex;
      margin:0 40px;
      border-bottom: 1px solid rgba(151, 151, 151, 0.1);

      @include sm-block() {
        margin:0 24px;
        overflow-y: auto;
      }
    }

    &__tab{
      height: 78px;
      min-width: 70px;
      color: rgba(0, 0, 0, 0.54);
      flex-grow: 1;
      flex-shrink: 0;
      max-width: 264px;
      padding: 0;
      position: relative;
      overflow: hidden;
      text-align: center;
      font-family: $mainFont;

      &:hover{
        color: #4da1ff;
      }

      &-active{
        color: #0067af;

        &:after{
          content: '';
          position: absolute;
          left:0;
          bottom:0;
          width: 100%;
          height: 2px;
          transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          will-change: left, width;
          background-color: #0067af;
        }
      }

      &Text{
        font-size: 13px;
        font-weight: 500;
        white-space:nowrap;
        padding:6px 12px;
      }
    }
  }

  &List{
    @include row-flex();
    padding:24px 24px 0;
    //width:100%;

    @include xs-block() {
      padding:24px 10px 0;
    }
    &__item{
      border-radius: 6px;
      box-shadow: 0 0 7px 3px rgba(0, 103, 175, 0.1);
      overflow: hidden;
      margin-bottom: 24px;
      min-width: 280px;

      @include col();
      @include size(8);
      @include size-md(24);

      &Image{
        position: relative;
        min-width: 190px;
        height: 240px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include sm-block() {
          height:150px;
        }
      }

      &Badge{
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: inline-block;
        background-color: #0067af;
        color: #ffffff;
        padding: 5px 15px;
        border-radius: 50px;
        line-height: 1;
        font-size: 14px;
        @include sm-block() {
          font-size: 12px;
        }
      }

      &Body{
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;
        min-height: 346px;

        @include md-block() {
          min-height: 300px;
        }
      }

      &Title{
        font-size: 24px;
        color: #0067af;
        font-weight: 400;
        margin-bottom: 20px;
        text-decoration: none;
      }

      &Meta{
        display: flex;
        color: rgba(4, 44, 71, 0.5);
        font-size: 14px;
        margin-bottom: 10px;
      }

      &Date{
        min-width: 140px;
        display: inline-block;
        padding: 0 15px 0 0;
        border-right: 1px solid rgba(151, 151, 151, 0.1);
        line-height: 18px;
      }

      &Author{
        padding: 0 15px;
        line-height: 18px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &Text{
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.78;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        height: 128.16px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;

        @include md-block() {
          height: 96.12px;
          -webkit-line-clamp: 3;
        }
      }

      &Controls{
        margin-top: auto;
        text-align: center;
      }

      &-first{
        @include size(24);
        display: flex;
        height: 320px;
        margin-bottom: 48px;

        @include md-block() {
          height: initial;
        }

        @include sm-block() {
          display: block;
        }

        .blogList__itemLink{
          width: 33%;
          display: block;

          @include sm-block() {
            width:100%;
          }
        }

        .blogList__itemImage{
          height:100%;

          @include sm-block() {
            height:150px;
          }
        }

        .blogList__itemBody{
          min-height: 100%;

          @include sm-block() {
            min-height: auto;
          }
        }

        .blogList__itemText{
          height: 96.12px;
          -webkit-line-clamp: 3;
        }
      }
    }
  }

  &Pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 48px;

    @include sm-block() {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__list{
      display: flex;
      width: 200px;
      justify-content: center;

      @include xs-block() {
        margin-top: 15px;
        order: 1;
      }
    }

    &__item{
      font-size: 16px;
      margin: 15px;
      cursor: pointer;
      &:before{
        display: none;
      }

      &-active{
        color: #0067af;
        font-weight: 600;
      }
    }
  }

}