.footer{
  padding: 0 24px;
  background-color: #ffffff;
  width: 100%;

  &__top{
    padding: 5vh 0;
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    background-clip: padding-box;

    @include row-flex();
  }

  &__address{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: -0.3px;
  }

  &__navigation{
    &Title{
      font-size: 14px;
      letter-spacing: -0.3px;
      color: #4da1ff;
      font-weight: 600;
    }

    &List{
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      letter-spacing: -0.3px;
      margin: 20px 0;
    }
  }

  &__link{
    color: $mainColor;
    text-decoration: none;
    margin: 5px 0;
    display: block;

    &:hover{
      color: #4da1ff;
    }
  }

  &__bottom{
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    background-clip: padding-box;

    @include row-flex();

    &Cols{
      @include col();
      @include size(8);
      @include size-sm(24);
    }
  }

  &__icons{
    display: flex;
    align-items:center;
    justify-content: center;
    @include sm-block() {
      justify-content: space-between;
      padding:20px 0;
    }
  }

  &__iconLink{
    text-decoration: none;
  }

  &__icon{
    padding: 0 9px;
    opacity: 0.3;
    &:hover{
      opacity: 1;
    }
  }

  &__copy{
    display: flex;
    align-items:center;
    justify-content: flex-end;

    &Text{
      margin: 0;
      font-size: 14px;
      color: rgba(4, 44, 71, 0.3);
    }

    @include sm-block() {
      justify-content: center;
    }
  }

  &__col{
    @include col();
    @include size(4);
    @include size-md(6);
    @include size-sm(12);
    @include size-xs(24);

    &-big{
      @include size(8);
      @include size-md(24);
      @include size-sm(24);
    }
  }

  @include sm-block() {
    padding-bottom:60px;
  }
}

.support{
  display: flex;
  align-items:center;
  padding: 15px 0;

  &__link{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    &:hover{
      .support__heart{
        animation: heart .9s ease-out infinite;
      }
    }
  }

  &__heart{
    margin-right: 12px;
  }

  &__text{
    font-weight: 700;
    font-size: 12px;
    color: rgba(4, 44, 71, 0.3);
    &:hover{
      color: #4da1ff;
    }
  }

  @include sm-block() {
    justify-content: flex-end;
  }
}

@keyframes heart {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.2, 1.2);
  }
  40% {
    transform: scale(1.1, 1.1);
  }
  80% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}