.section {
  min-height: 100vh;
  padding: 10vh 0;
  position: relative;
  z-index:1;

  &Main {
    padding-top: 15vh;

    &__text {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.25;
      margin-bottom: 30px;

      @include xs-block() {
        font-size: 20px;
      }
    }
    
    &__macbookImg{
      position: relative;
      right: 30px;
      max-width: 130%;
      z-index: -1;
      display: block;

      @include md-block(){
        max-width: 80%;
        position: static;
        margin: 0 auto;
        transform: translateY(0)!important;
      }
    }

    &__title{
      padding-top:10vh;
    }

    &__bottom {
      justify-content: center;
      display: flex;
      padding-top: 220px;

    }
  }

  &CW {
    &__trCardWrapp {

      width:100%;


      @media screen and (max-width: 1300px) {
        transform: scale(0.85);
        margin-left: -15px;
      }

      @media screen and (max-width: 1180px) {
        transform: scale(0.8);
        margin-left: -40px;
      }

      @media screen and (max-width: 1080px) {
        transform: scale(0.75);
        margin-left: -55px;
      }

      @include md-block() {
        margin: 0;
      }

      @include sm-block() {
        margin-top: 20px;
        //min-width: inherit;
        transform: scale(1);
        overflow-x: auto;
      }
    }

    &__trCardInner{
      min-width: 650px;
    }
  }

  &Iban {

  }

  &Payment {

    &__figure{
      max-width: 80%;
      @include md-block() {
        margin: 32px auto;
        transform: translateY(0)!important;
      }
    }

  }

  &Webapp{
    &__slider{
      @include md-block() {
        margin: 10px 0;
      }
    }
  }

  &Partners{
    padding: 0 10vw;
    min-height: auto;

    @include md-block() {
      padding:0 5vw;

      &__title{
        text-align: center;
      }
    }

    &__logos{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 32px 0 50px;
    }

    &__logo{
      margin: 10px;
      max-width: 150px;
      filter: grayscale(100%);
      max-height: 32px;
    }

    &__description{
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33;
      margin-top: 22px;
      text-align: center;
    }

    &__text{
      text-align: center;
      margin-top: 64px;
    }

    &__btnWrapp{
      margin: 32px 0;
      text-align: center;
    }
  }

  &__content{
    display: inline-block;
    max-width: 50%;
    width:100%;
    position: relative;

    &-left{
      padding: 0 0 0 10vw;
    }

    &-right{
      padding: 0 10vw 0 0;
      text-align: right;
    }

    &FloatedRight{
      float: right;
      clear: right;
    }

    &FloatedLeft{
      float: left;
    }

    @include md-block(){
      max-width:100%;

      &-left,&-right{
        text-align: center;
        padding:0 10px;
      }
      &FloatedRight,&FloatedLeft{
        float: none;
        padding:0 10px;
      }
    }
  }

  &__bottom{
    clear: both;
  }
}

.comingsoon{
  float: left;
  width: 150px;

  &-notFloat{
    float: none;
  }

  @media screen and (max-width: 1250px) {
    float: none;
  }

  @include md-block() {

    margin:0 auto;
    display: block;
  }
}

.today {
  text-align: center;
  padding-top: 20px;
  &__buyRate {
    font-size: 18px;
    letter-spacing: -0.1px;
    text-align: left;
    display: inline-block;
    font-weight: 500;
    padding: 8px;

  }
  &__name {
    font-weight: 700;
  }

  &__viewMore {
    font-size: 10px;
    letter-spacing: 2.5px;
    text-align: left;
    color: #0067af;
    text-transform: uppercase;
    font-weight: 500;
    bottom: 10px;
    cursor: pointer;
    display: inline-block;
  }
}

.crypto {
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  &__btc, &__eth {
    color: #0067af;
    font-weight: 700;
  }

  &__eth{
    color: #4da1ff;
  }
}




