.section {
  min-height: 100vh;
  padding: 10vh 0;
  position: relative;
  z-index:1;

  &__content{
    display: inline-block;
    max-width: 50%;
    width:100%;
    position: relative;

    &-left{
      padding: 0 0 0 10vw;
    }

    &-right{
      padding: 0 10vw 0 0;
      text-align: right;
    }

    &FloatedRight{
      float: right;
      clear: right;
    }

    &FloatedLeft{
      float: left;
    }

    @include md-block(){
      max-width:100%;

      &-left,&-right{
        text-align: center;
        padding:0 10px;
      }
      &FloatedRight,&FloatedLeft{
        float: none;
        padding:0 10px;
      }
    }
  }

  &__bottom{
    clear: both;
  }

  &Main {
    padding-top: 90px;

    &__text {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.25;
      margin-bottom: 30px;

      @include xs-block() {
        font-size: 20px;
      }
    }
    
    &__macbookImg{
      position: relative;
      right: 30px;
      max-width: 130%;
      z-index: -1;
      display: block;

      @include md-block(){
        max-width: 80%;
        position: static;
        margin: 0 auto;
        transform: translateY(0)!important;
      }
    }

    &__title{
      padding-top:10vh;
    }

    &__bottom {
      justify-content: center;
      display: flex;
      padding-top: 220px;

    }
  }

  &CW {
    &__trCardWrapp {

      width:100%;


      @media screen and (max-width: 1300px) {
        transform: scale(0.85);
        margin-left: -15px;
      }

      @media screen and (max-width: 1180px) {
        transform: scale(0.8);
        margin-left: -40px;
      }

      @media screen and (max-width: 1080px) {
        transform: scale(0.75);
        margin-left: -55px;
      }

      @include md-block() {
        margin: 0;
      }

      @include sm-block() {
        margin-top: 20px;
        //min-width: inherit;
        transform: scale(1);
        overflow-x: auto;
      }
    }

    &__trCardInner{
      min-width: 650px;
    }

    &__log{
      width:80%;
      margin: 25px auto;
      display: block;
    }
  }

  &Iban {
    &__log{
      width:80%;
      margin: 15px auto;
      display: block;
    }
  }

  &Payment {

    &__figure{
      max-width: 80%;
      @include md-block() {
        margin: 32px auto;
        transform: translateY(0)!important;
      }
    }

  }

  &Webapp{
    &__slider{

      li{
        &:before{
          display: none;
        }
      }
      @include md-block() {
        margin: 10px 0;
      }
    }
  }

  &Partners{
    padding: 0 10vw;
    min-height: auto;

    @include md-block() {
      padding:0 5vw;

      &__title{
        text-align: center;
      }
    }

    &__logos{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 32px 0 50px;
    }

    &__logo{
      margin: 10px;
      max-width: 150px;
      filter: grayscale(100%);
      max-height: 32px;
    }

    &__description{
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33;
      margin-top: 22px;
      text-align: center;
    }

    &__text{
      text-align: center;
      margin-top: 64px;
    }

    &__btnWrapp{
      margin: 32px 0;
      text-align: center;
    }

    @include sm-block() {

      &__description{
        font-size: 14px;
      }
    }
  }

  &Cta{
    display: flex;
    align-items: center;
    margin-top: 70px;

    &__text{
      font-size: 18px;
      margin-bottom: 20px;
      max-width: 530px;
    }

    &__cardImg{
      max-width: 80%;
    }

    @include md-block() {
      margin-top: 20px;

      &__text{
        max-width: initial;
      }

      &__cardImg{
        max-width: 80%;
        display: block;
        margin:0 auto 20px;
      }
    }


    @include sm-block() {
      &__text{
        font-size: 14px;
      }
    }
  }

  &Special{
    background: url("../images/bg-special.png") no-repeat top center;
    background-size: contain;

    &__title{
      text-align: center;
    }

    &__items{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__item{
      display: flex;
      align-items: center;
      margin-left: 20vw;
      margin-top: 0;
      margin-bottom: 10px;
      &:nth-child(odd) {
        margin-left: 35vw;
      }
    }

    &__icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 145px;
      min-width: 145px;
      height: 145px;
      border-radius: 50%;
      margin-right: 40px;
      background-color: #ffffff;
      box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
    }

    &__infoTitle{
      font-size: 36px;
      font-weight: 400;
      color: $mainColor;
    }

    @include md-block() {

      &__items{
        max-width: 670px;
        margin: 0 auto;
      }

      &__item{
        margin-left: 0!important;
      }
    }

    @include sm-block() {

      &__item{
        width: 100%;
        flex-direction: column;
        text-align: center;
      }

      &__infoTitle{
        font-size: 30px;
      }

      &__icon{
        width: 100px;
        min-width: 100px;
        height: 100px;
        margin-right: 0;
        margin-bottom: 20px;
        padding: 30px 27px 27px 27px;
      }

      &__infoLi{
        text-align: center;
        font-size: 16px;
      }
    }

    @include xs-block() {

      &__infoTitle{
        font-size: 24px;
      }
    }
  }

  &Team{

    &:after{
      content: '';
      position: absolute;
      height: 1px;
      width: 80vw;
      margin-left: -40vw;
      left: 50%;
      bottom: 0;
      background-color: #eaf3fe;
    }

    &__left{
      max-width:58%;
    }

    &__right{
      max-width: 42%;
    }

    &__img{
      margin-left: -10vw;
      max-width: calc(100% + 5vw);
    }

    @include md-block() {
      &__img{
        margin-left: 0vw;
        max-width: 100%;
      }
    }
  }

  &Contact{

    margin-bottom: 10vh;
    &__inner{
      height:530px;
      @include md-block() {
        display: none;
      }
    }

    &__map{
      margin-top: 40px;
      background-color: #eaf3fe;
      background-size: cover;
    }

    &__mobileMap{
      padding: 20px 15px 90px;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      @include md-block() {
        display: flex;
      }
    }

    &__MapAddress{
      width: 350px;
      padding: 20px 25px;
      border-radius: 18px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 1px 3px 17px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    &__MapTitle{
      font-size: 24px;
      font-weight: normal;
      color: $mainColor;
      font-family:  Montserrat, Roboto, "Helvetica Neue";
      margin-bottom: 0;
    }

    &__addressText{
      font-size: 18px;
      line-height: 1.67;
      font-family:  Montserrat, Roboto, "Helvetica Neue";
      margin-bottom: 0;
    }

    &__country{
      font-weight: 500;
      font-family:  Montserrat, Roboto, "Helvetica Neue";
    }

    &__question{
      position: absolute;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      transform: translate(-50%, -50px);
      left: 50%;
      padding: 20px;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);

      &Text{
        font-size: 24px;
        white-space: nowrap;
        margin-bottom: 0;
      }

      &Link{
        font-weight: 500;
        text-decoration: none;
      }
    }

    @include md-block() {
      margin-bottom: 40px;
    }

    @include sm-block() {
      margin-bottom: 20px;

      &__question{
        height: auto;
        width: 280px;
        padding: 15px 10px;
        margin-top: 20px;

        &Text{
          font-size: 14px;
          white-space: normal;
          text-align: center;
        }
      }
    }

    @include xs-block() {
      &__mobileMap{
        padding-bottom: 60px;
      }

      &__MapAddress{
        width: 280px;
        padding: 15px;
      }

      &__MapTitle{
        font-size: 18px;
      }

      &__addressText{
        font-size: 14px;
      }
    }
  }
}

.comingsoon{
  float: left;
  width: 150px;

  &-notFloat{
    float: none;
  }

  @media screen and (max-width: 1250px) {
    float: none;
  }

  @include md-block() {

    margin:0 auto;
    display: block;
  }
}

.today {
  text-align: center;
  padding-top: 20px;
  &__buyRate {
    font-size: 18px;
    letter-spacing: -0.1px;
    text-align: left;
    display: inline-block;
    font-weight: 500;
    padding: 8px;

  }
  &__name {
    font-weight: 700;
  }

  &__viewMore {
    font-size: 10px;
    margin-top: 64px;
    letter-spacing: 2.5px;
    text-align: left;
    color: #0067af;
    text-transform: uppercase;
    font-weight: 500;
    bottom: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }
}

.crypto {
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  &__btc, &__eth {
    color: #0067af;
    font-weight: 700;
  }

  &__eth{
    color: #4da1ff;
  }
}


.blog{

  &Header{
    display: flex;
    align-items: flex-end;
    margin-top: 78px;
    padding: 40px 0;
    height: 370px;
    background: url('../images/header-bg-blog@2x.png') no-repeat center;
    background-size: cover;

    &__content{
      color: #ffffff;
      max-width: 400px;
      margin-left: 20vw;

      @media screen and (max-width: 600px){
        margin-left: 20px;
      }
    }

    &__title{
      color: #ffffff;
      margin-bottom: 0;
    }

    &__text{
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  &Tabs{
    overflow-x: auto;
    &__wrapper{
      display: flex;
      margin:0 40px;
      border-bottom: 1px solid rgba(151, 151, 151, 0.1);

      @include sm-block() {
        margin:0 24px;
        overflow-y: auto;
      }
    }

    &__tab{
      height: 78px;
      min-width: 70px;
      color: rgba(0, 0, 0, 0.54);
      flex-grow: 1;
      flex-shrink: 0;
      max-width: 264px;
      padding: 0;
      position: relative;
      overflow: hidden;
      text-align: center;
      font-family: $mainFont;

      &:hover{
        color: #4da1ff;
      }

      &-active{
        color: #0067af;

        &:after{
          content: '';
          position: absolute;
          left:0;
          bottom:0;
          width: 100%;
          height: 2px;
          transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          will-change: left, width;
          background-color: #0067af;
        }
      }

      &Text{
        font-size: 13px;
        font-weight: 500;
        white-space:nowrap;
        padding:6px 12px;
      }
    }
  }

  &List{
    @include row-flex();
    padding:24px 24px 0;

    &__item{
      border-radius: 6px;
      box-shadow: 0 0 7px 3px rgba(0, 103, 175, 0.1);
      overflow: hidden;
      margin-bottom: 24px;
      min-width: 280px;

      @include col();
      @include size(8);
      @include size-md(24);

      &Image{
        position: relative;
        min-width: 190px;
        height: 240px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include sm-block() {
          height:150px;
        }
      }

      &Badge{
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: inline-block;
        background-color: #0067af;
        color: #ffffff;
        padding: 5px 15px;
        border-radius: 50px;
        line-height: 1;
        font-size: 14px;
      }

      &Body{
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;
        min-height: 346px;

        @include md-block() {
          min-height: 300px;
        }
      }

      &Title{
        font-size: 24px;
        color: #0067af;
        font-weight: 400;
        margin-bottom: 20px;
        text-decoration: none;
      }

      &Meta{
        display: flex;
        color: rgba(4, 44, 71, 0.5);
        font-size: 14px;
        margin-bottom: 10px;
      }

      &Date{
        min-width: 140px;
        display: inline-block;
        padding: 0 15px 0 0;
        border-right: 1px solid rgba(151, 151, 151, 0.1);
        line-height: 18px;
      }

      &Author{
        padding: 0 15px;
        line-height: 18px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &Text{
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.78;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        height: 128.16px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;

        @include md-block() {
          height: 96.12px;
          -webkit-line-clamp: 3;
        }
      }

      &Controls{
        margin-top: auto;
        text-align: center;
      }

      &-first{
        @include size(24);
        display: flex;
        height: 320px;
        margin-bottom: 48px;

        @include md-block() {
          height: initial;
        }

        @include sm-block() {
          display: block;
        }

        .blogList__itemLink{
          width: 33%;
          display: block;

          @include sm-block() {
            width:100%;
          }
        }

        .blogList__itemImage{
          height:100%;

          @include sm-block() {
            height:150px;
          }
        }

        .blogList__itemBody{
          min-height: 100%;

          @include sm-block() {
            min-height: auto;
          }
        }

        .blogList__itemText{
          height: 96.12px;
          -webkit-line-clamp: 3;
        }
      }
    }
  }

  &Pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 48px;

    @include sm-block() {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__list{
      display: flex;
      width: 200px;
      justify-content: center;

      @include xs-block() {
        margin-top: 15px;
        order: 1;
      }
    }

    &__item{
      font-size: 16px;
      margin: 15px;
      cursor: pointer;
      &:before{
        display: none;
      }

      &-active{
        color: #0067af;
        font-weight: 600;
      }
    }
  }

}

.faq{

  &Wrapper{
    max-width: 66.6667%;
    margin: 86px auto 50px;
    padding: 0 24px;
  }

  &Search{
    display: flex;
    justify-content:flex-end;

    &__wrapper{
      padding: 8px;
      max-width: 75%;
      width: 100%;
    }

    &__inner{
      width: 100%;
      font-size: 28px;
      margin: 50px 0;
      color: rgba(0, 0, 0, 0.87);
      display: inline-flex;
      position: relative;
      align-items: baseline;
      font-family: Montserrat, Roboto, sans-serif;

      &:before{
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        content: "";
        position: absolute;
        transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.42);
      }

      &:hover{
        &:before{
          background-color: #042c47;
        }
      }

       &.faqSearch__inner-focus{
        &:after{
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          content: "";
          position: absolute;
          transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          pointer-events: none;
          background-color: #4da1ff;
        }
      }
    }

    &__icon{
      margin-right: 8px;
    }

    &__svg{
      position: relative;
      bottom: -7px;
      width: 32px;
      height: 32px;
      fill: rgba(4, 44, 71, 0.5);
    }

    &__input{
      font: inherit;
      width: 100%;
      border: 0;
      margin: 0;
      padding: 6px 0 7px;
      display: block;
      min-width: 0;
      box-sizing: content-box;
      background: none;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
    }
  }

  &Content{

    @include row-flex();
    &__sidebar{
      @include col();
      @include size(6);



      &Inner{
        width: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: calc(100vh - 90px);
        overflow-y: auto;
        max-width: 216px;
        &-fixed{
          position: fixed;
          top:50px;
        }
      }

      &Item{
        list-style: none;
        margin: 30px 0;
        padding: 0;
        text-indent: 0;

        &:before{
          display: none;
        }
      }

      &Link{
        text-decoration: none;
        color: rgba(4, 44, 71, 0.5);

        &:hover{
          color: #4da1ff;
        }

        &-active{
          color: #4da1ff;
          font-weight: 500;
          transition-delay: 0.5s;
        }
      }
    }
  }

  &Items{
    @include col();
    @include size(18);

    &__item{
      margin-top: 20px;

      &Title{
        font-size: 36px;
        margin-bottom: 10px;
        padding: 0 24px;
        font-weight: 500;
      }
    }

    &__panel{

      &-opened{
        .faqItems__panelTitleArrowSvg{
          transform: rotate(180deg);
        }

        .faqItems__panelTitleText{
          color: #4da1ff;
        }
      }

      &Title{
        display: flex;
        padding: 0 24px 0 24px;
        position: relative;
        min-height: 48px;
        transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &Text{
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 0;
        }

        &Arrow{
          font-size: 20px;
          font-weight: 500;
          width: 48px;
          color: rgba(0, 0, 0, 0.54);
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;

          &Svg{
            width:24px;
            height:24px;
            fill: rgba(0, 0, 0, 0.54);
            transition: all .3s;
          }
        }
      }

      &Content{
        padding: 8px 24px 24px;
        display: none;
      }

      p{
        margin: 10px 0;
        display: inline-block;
        width: 100%;
      }

      ul{
        li{
          font-size: 14px;
          font-weight: 400;
          margin:5px 0;
        }
      }

      a{
        text-decoration: underline;
      }

      ol{
        width: auto;
        font-size: 14px;
        line-height: 1.78;
        font-weight: 300;
        padding-left: 1em;
      }

      &Text{
        font-size: 14px;
        line-height: 1.78;
        font-weight: 400;
        &-par{
          padding-left: 30px;
        }

        &Unavailable{
          color: #cc0000;
          font-size: 18px;
          text-align: center;
          padding:20px 0;
          font-weight: 400;
        }
      }

      &Img{
        margin:20px 0;

        &Desc{
          font-size: 10px;
          font-style: italic;
          text-align: center;
          //margin: 10px 0;

          span{
            font-weight: 400;
          }
        }
      }

      &Source{
        font-size: 10px;

        span{
          font-weight: 400;
        }
      }
    }
  }
}
